body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.boxes .col-lg-12 .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}

.panel .panel-heading {
}

.h2 {
    color: #122778;
    font-family: Baskerville,Times,'Times New Roman',serif;
    font-size: 75px;
    font-weight: bold;
}

.textboxform-control {
    width: 4em;
}

.form-group .classwithpad {
    padding-bottom: 20px;
}

.textbox {
    width: 30em;
    height: 15em;
}

.green {
    color: green;
}

.red {
    color: red;
}

.true {
    border: 15px;
    border-color: green;
}

.false {
    border: 15px;
    border-color: red;
}




.panel-heading {
    color: #ffffff;
    font-family: Georgia,serif;
    font-size: 25px;
    font-weight: bold;
}


